.signup {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 0.5rem;
  width: 60%;
  margin: 0 auto;
  .inputs {
    margin-top: 0.5rem;
    gap: $grid-gap;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .image_wrapper {
    position: relative;
    border-radius: 50%;
    margin-bottom: .5rem;
    overflow: hidden;
    img{
        height: 100%;
    }

    &:hover .imagecover {
      display: none;
      overflow: visible;
    }
  }
  .imagecover {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -100%);
    background: gray;
    color: white;
    text-align: center;
  }
}
