.app_header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .search {
    margin-right: 0.5rem;

    input {
      padding: 0.1rem;
      background: url("../assets/svg/search-icon.svg");
      background-position: 2% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      outline: none;
      border-color: none;
    }
  }

  .desktop_nav {
    display: none;

    @media screen and (min-width: 600px) {
      display: block;
    }

    .desktop {
      display: flex;
      align-items: center;

      ul {
        padding-right: 0.5rem;
        align-items: center;
        border-right: 1px solid black;

        img {
          width: 1.3rem;
        }
      }
    }
  }

  .mobile_nav {
    display: flex;
    align-items: center;

    .mobile {
      display: none !important;
    }

    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  .logo {
    display: grid;
    align-self: flex-end;
  }

  svg {
    height: auto;
    min-width: 100%;
    align-self: center;
  }

  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: $grid-gap;

    li {
      list-style-type: none;
    }
  }
}
