@font-face {
	font-family: "Fontastique";
	src: url("../assets/font-files/Fontastique.ttf");
}

@font-face {
	font-family: "Avenir";
	font-weight: 200;
	src: url("../assets/font-files/Avenir Light.ttf");
}

@font-face {
	font-family: "Avenir";
	font-weight: 300;
	src: url("../assets/font-files/Avenir Book.ttf");
}

@font-face {
	font-family: "Avenir";
	font-weight: 400;
	src: url("../assets/font-files/Avenir Regular.ttf");
}

@font-face {
	font-family: "Avenir";
	font-weight: 500;
	src: url("../assets/font-files/Avenir Medium.ttf");
}

@font-face {
	font-family: "Avenir";
	font-weight: 700;
	src: url("../assets/font-files/Avenir Heavy.ttf");
}

@font-face {
	font-family: "Avenir";
	font-weight: 900;
	src: url("../assets/font-files/Avenir Black.ttf");
}