
.app_header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .logo{
        display: grid;
        align-self: flex-end;
    }
    svg{
        height: auto;
        min-width: 100%;
        align-self: center;
    }
nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: $grid-gap;
    li{
        list-style-type: none;
    }
}

}