// Dont write any SCSS here please migrate your styling to individual pages

@import "loginlayout" ;
@import "recipe_content";
@import "pagenotfound";

img {
  max-width: 100%;
  height: auto;
}

.app_footer {
  text-align: center;
}

// homepage styling only
.home_page,
.search_page,
.shoppinglist_page {

  .app_body {
    display: flex;
    flex-flow: column nowrap;

    button {
			border-radius: 10px;
			outline: none;
			border: 1px solid black;
    }

    // start blindbox styling
    .blindbox {
      margin: 0 .5rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      position: relative;

      button{
        margin: 1rem;

        @media screen and (min-width:600px){
          align-self: flex-end;
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 5%;
        bottom: 0;
        border-bottom: 0;
        width: 90%;
        border-bottom: 1px solid #000;
        right: 5%;
      }
    }
    // end blindbox

    // contact form styling
    .contact_form {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      gap: $grid-gap;
      padding:0 .5rem;
      @media screen and (min-width: 600px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $grid-gap;
      }
      h3 {
        justify-self: center;
        grid-column: 1/-1;
      }
      .contact_inputs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: $grid-gap;
        border: 1px solid black;
        padding: 1rem;

        @media screen and (min-width: 600px) {
          grid-column: 1/-1;
          grid-row: 2;
          display: grid;
          gap: $grid-gap;
          grid-template-columns: repeat(2, 1fr);

          padding: 1rem;
          input:nth-of-type(1) {
            grid-row: 1;
            grid-column: 1/-1;
          }
          input:nth-of-type(2) {
            grid-row: 2;
            grid-column: 1/2;
          }
          input:nth-of-type(3) {
            grid-row: 2;
            grid-column: 2/3;
          }
          textarea {
            grid-row: 3;
            grid-column: 1/-1;
          }
          button {
            grid-row: 4;
            grid-column: 1/-1;
            justify-self: center;
          }
        }
      }
    }
    //  end Contact form

    // features styling
    .feature_wrapper {
      display: flex;
      flex-flow: column nowrap;
      h2 {
        text-align: center;
      }
      img {
				border-radius: 50%;
      }
      .inputs_wrapper {
        align-self: center;
        justify-self: end;
      }

      // single feature alignment and styling
      .features_single {
        .featuress {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          padding-bottom: 0.5rem;
          img {
            width: 30%;
          }
        }
        @media screen and (min-width: 600px) {
          .featuress:nth-of-type(odd) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $grid-gap;
            img {
              grid-column: 1/2;
            }
            .inputs_wrapper {
              grid-column: 2/3;
            }
          }
          .featuress:nth-of-type(even) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $grid-gap;
            .inputs_wrapper {
              grid-column: 1/2;
              grid-row: 1;
              justify-self: start;
            }
            img {
              grid-row: 1;
              grid-column: 2/3;
              justify-self: end;
            }
          }
        }
      }
    }

    // featured recipes
    .recipes {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      @media screen and (min-width: 600px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        h3 {
          grid-row: 1;
          grid-column: 1/-1;
        }
        p {
          grid-row: 2;
          grid-column: 1/-1;
        }
        .recipe_individual {
          display: grid;
          grid-template-columns: repeat(1, 1fr);

          // Desktop layout
          @media screen and (min-width: 600px) {
            grid-row: 3;
            grid-column: 1/-1;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            div {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              img {
                grid-row: 1;
                grid-column: 1/-1;
								border-radius: 10% 10% 0 0;
              }
              h4 {
                grid-row: 2;
              }
              p:nth-of-type(1) {
                grid-row: 3;
              }
              p:nth-of-type(2) {
                grid-row: 4;
              }
            }
          }
        }

        .recipe_result {
          grid-row: 3;
          grid-column: 1/-1;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            img {
              grid-row: 1;
              grid-column: 1/-1;
							border-radius: 10% 10% 0 0;
            }
            h4 {
              grid-row: 2;
            }
            p:nth-of-type(1) {
              grid-row: 3;
            }
            p:nth-of-type(2) {
              grid-row: 4;
            }
          }
        }
      }
      //end featured recipes
    }
  }
}
// end homepage styling

.shopping_card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0.5rem;

  .ingredientlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .more_ingredient {
    display: flex;
    margin-left: auto;
    margin-right: 15%;
    grid-column: 1/-1;
  }
}

.groceryshop {
  margin: 0.5rem;
  .mapcontainer {
    height: 100px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
  }
}
