.recipe_content {
  // background: #fff8ef;

  > * {
    display: grid;
    grid-template-columns: 1fr 2fr;
		background-color: #fff;

		@media screen and (max-width: 700px) {
			grid-template-columns: 1fr;
		}

    > * {
      padding: 3rem 2rem;
    }

    .recipe-details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: #fff8ef;
      grid-row: 1 / 4;

			@media screen and (max-width: 700px) {
				grid-row: auto;
				padding: 1rem;
			}

      .cook-time-cont {
        display: flex;
        gap: 1rem;
        align-items: flex-end;

        .label {
          font-family: "Avenir", sans-serif;
          font-weight: 500;
          font-size: 1.25rem;
          color: #000000;
        }

        .text {
          font-family: "Avenir", sans-serif;
          font-size: 1rem;
          line-height: 1.2;
          color: #000000;
        }
      }

      .portion-cont {
        display: flex;
        gap: 1rem;

        .label {
          font-family: "Avenir", sans-serif;
          font-weight: 500;
          font-size: 1.25rem;
          color: #000000;
        }

        .text {
          font-family: "Avenir", sans-serif;
          font-size: 1rem;
          line-height: 1.2;
          color: #000000;
        }
      }

      .ingredients-cont {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .label {
          font-family: "Avenir", sans-serif;
          font-weight: 500;
          font-size: 1.25rem;
          color: #000000;
        }

        .ingredients-listings-cont {
          display: grid;
          gap: 1rem;

          .ingredient-listing {
            display: flex;
            gap: 1rem;
    				align-items: center;

            .ingredient-text {
              font-family: "Avenir", sans-serif;
              font-weight: 500;
              font-size: 1rem;
              line-height: 1.2;
              color: #000000;
            }
          }
        }

        .add-to-shopping-list-btn-cont {
          margin-top: 2rem;

          button {
            font-family: "Avenir", sans-serif;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;
            background: #fff8ef;
            border: 4px solid #fb9400;
            box-sizing: border-box;
            border-radius: 50px;
          }
        }
      }
    }

    .recipe-main {
      display: grid;
      gap: 1rem;

			@media screen and (max-width: 700px) {
				order: -1;
				padding: 1rem;
			}

      .recipe-data-cont {
        display: grid;
        gap: 1rem;

        .recipe-heading {
          font-family: "Fontastique", cursive;
          font-size: 2.5rem;
          color: #000000;
        }

        .recipe-subheading-cont {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .recipe-author {
            display: flex;
            gap: 0.5rem;

            img {
              width: 2rem;
              border-radius: 50%;
            }

            .recipe-author-name {
              font-family: "Avenir", sans-serif;
              font-weight: 500;
              font-size: 1.5rem;
              color: #000000;
            }
          }

          .recipe-fav-btn-cont {
            button {
              background: transparent;
              border: none;
              padding: 0;

              svg {
                width: 2rem;

                path:nth-of-type(1) {
                  fill: #fff;
                }

                path:nth-of-type(2) {
                  fill: #000;
                }
              }

              svg.active {
                path:nth-of-type(1) {
                  fill: #ffd600;
                }

                path:nth-of-type(2) {
                  fill: #ffd600;
                }
              }
            }
          }
        }

        .recipe-main-cont {
          display: grid;
          gap: 1rem;

          .recipe-image-main-cont {
            img {
              background: #eeeeee;
							box-shadow: 0px 0px 0px 2px #cfcdcd;
              width: 100%;
            }
          }

          .recipe-about-cont {
            display: grid;
            gap: 1rem;

            .recipe-about-heading {
              font-family: "Fontastique", cursive;
              font-size: 1.75rem;
              color: #000000;
            }

            .recipe-about-text {
              font-family: "Avenir", sans-serif;
              font-weight: 500;
              font-size: 1rem;
              line-height: 1.4;
              color: #000000;

              a {
                color: #000;
                text-decoration: underline;
                text-decoration-color: #fb9400;
                transition: color 0.1s ease;
              }

              a:hover,
              a:active {
                color: #fb9400;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .recipe-instructions-cont {
      display: grid;
      gap: 1rem;

			@media screen and (max-width: 700px) {
				padding: 1rem;
			}

      .instructions-graph-cont {
        .instructions-cont-graph {
          .dummy {
            width: 50vw;
            height: 50vw;
						max-width: 520px;
						max-height: 340px;
						min-width: 320px;
						min-height: 320px;
						font-family: 'Avenir' !important;
						margin: auto;

						// @media screen and (max-width: 700px) {
						// 	width: 80vw;
						// 	height: 80vw;
						// }

						@media screen and (max-width: 700px) {
							width: 80vw;
							height: 80vw;
							min-width: 280px;
							min-height: 500px;
							max-width: auto;
							max-height: auto;
						}

						> div:nth-of-type(1) {
							display: block;

							@media screen and (max-width: 700px) {
								display: none !important;
							}
						}

						> div:nth-of-type(2) {
							display: none;

							@media screen and (max-width: 700px) {
								display: block !important;
							}
						}

						svg {
							text, rect, circle {
								transform: scale(1);
								transition: 0.3s all ease;
							}

							text {
								font-size: 1rem;
							}
						}
          }
        }
      }

      .instructions-total-calories-cont {
				padding-bottom: 4rem;

				@media screen and (max-width: 700px) {
					display: flex;
					padding-bottom: 0;
				}

        .instructions-total-calories-box {
          display: flex;
          gap: 1rem;
          width: fit-content;
          float: right;
          background: #fff8ef;
          border: 3px solid #fff8ef;
          padding: 0.5rem 1rem;
          font-family: "Avenir", sans-serif;
          font-weight: 500;
          font-size: 1.15rem;
          color: #000000;

					@media screen and (max-width: 700px) {
						flex: 1;
						justify-content: space-between;
						padding: 1rem;
					}
        }
      }

      .recipe-instructions-text-cont {
        ol {
					padding: 0 0 0 1rem;
					margin: 0 0 0 .25rem;

          li {
            margin: 1rem 0;
						font-family: "Avenir", sans-serif;
						font-weight: 500;
						font-size: 1.2rem;
						line-height: 24px;
						color: #000000;

            .instructions-text-heading {
              margin: 0.5rem 0;
              font-family: "Avenir", sans-serif;
              font-weight: 500;
              font-size: 1.2rem;
              line-height: 24px;
              color: #000000;
            }

            .instructions-text-text {
              font-family: "Avenir", sans-serif;
              font-size: 1rem;
              line-height: 1.2;
              color: #000000;
            }
          }
        }
      }
    }

    .recipe-like-dislike-cont {
      display: flex;
      gap: 1rem;
      justify-content: center;

			@media screen and (max-width: 700px) {
				padding: 1rem;
			}

      .like-cont,
      .dislike-cont {
        display: grid;
        gap: 0.25rem;
        text-align: center;

        button {
          background: transparent;
          border: none;

          img {
            width: 4rem;
          }
        }

        > div {
          font-family: "Avenir", sans-serif;
          font-weight: 500;
          font-size: 1rem;
          color: #000000;
        }
      }
    }
  }

	.dual-color-bg-cont {
		position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
		display: flex;

		.color-1 {
			flex: 1;
			background-color: #fff8ef;
		}

		.color-2 {
			flex: 1;
			background-color: #ffffff;
		}
	}
}
