.shopping-list-page-cont {
	> * {
		padding: 4rem 3rem;

		@media screen and (max-width: 700px) {
			padding: 2rem 1rem;
		}

		.selected-recipes-cont {
			.heading {
				font-family: "Fontastique", cursive;
				font-size: 1.75rem;
				color: #000000;
				padding: 0 0 2rem 0;
			}

			.selected-recipes-listing-cont {
				display: flex;
				gap: 2rem;
				overflow: auto;
				padding: 1rem 5px;
				cursor: pointer;

				.selected-recipes-listing {
					max-width: 250px;
					box-shadow: 0px 0px 0px 5px #CFCDCD;
					cursor: pointer;
					transition: all .3s ease;

					img {
						width: 100%;
						display: block;
					}

					.recipes-otd-name-cont, .recipes-otd-details-cont {
						display: none;
					}
				}

				.selected-recipes-listing.active {
					box-shadow: 0px 0px 0px 10px #fb9400;
					transform: scale(1.1);
					margin: 0 0.5rem;
				}

				.selected-recipes-listing:nth-of-type(1).active {
					margin-left: 18px;
				}
			}

			.selected-recipes-listing-cont.active {
				padding: 1rem 10px;
			}
		}

		.shopping-list-cont {
			padding: 6rem 0;

			.heading-cont {
				display: flex;
				gap: 2rem;
				justify-content: space-between;
				padding: 0 0 2rem 0;

				.heading {
					font-family: "Fontastique", cursive;
					font-size: 1.75rem;
					color: #000000;
				}

				button {
					font-family: "Avenir", sans-serif;
					font-size: 1.25rem;
					padding: 0.5rem 1rem;
					background: #FFF8EF;
					border: 4px solid #FB9400;
					box-sizing: border-box;
					border-radius: 50px;
				}
			}

			.shopping-list-listing-cont {
				.shopping-list-listing {
					display: flex;
					gap: 2rem;

					@media screen and (max-width: 700px) {
						gap: 0.5rem;
						flex-direction: column;
					}

					.img-and-remove-list-cont {
						display: flex;
						flex-direction: column;
						flex: 1;

						.img-title-cont {
							display: flex;
							border: 2px solid #8C8C8C;
							position: relative;

							img {
								width: 100%;
							}

							.title {
								position: absolute;
								bottom: -1px;
								left: 0;
								right: 0;
								background-color: rgba(0, 0, 0, 0.7);
								padding: 0.75rem 0.75rem 2rem 0.75rem;
								color: #ffffff;
								font-family: "Fontastique", sans-serif;
								font-size: 1.25rem;
								line-height: 24px;
							}
						}

						.remove-list-cont {
							padding: 1rem;
							text-align: center;

							button {
								background-color: transparent;
								border: none;
								font-family: "Avenir", sans-serif;
								font-weight: 500;
								font-size: 1.25rem;
								line-height: 40px;
								letter-spacing: -0.011em;
								text-decoration-line: underline;
								color: #000000;
							}
						}
					}

					.ingredients-cont {
						font-family: "Avenir", sans-serif;
						font-size: 1.25rem;
						line-height: 40px;
						color: #000000;
						flex: 2;
						padding: 1rem 2rem;
						overflow: hidden;
						transition: height 0.3s ease;

						@media screen and (max-width: 700px) {
							padding: 0.5rem 1rem;
						}

						.ingredient-cont {
							display: flex;
							gap: 1rem;
							justify-content: flex-start;
							padding: 0.125rem 0;

							.checkbox {
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}
					}

					.ingredients-cont.active {
						height: 100%;
					}
				}

				.shopping-list-listing:nth-of-type(odd) {
					background: #FEEACC;
				}

				.shopping-list-listing:nth-of-type(even) {
					background: #FFF8EF;
				}
			}
		}

		.no-shopping-list-cont {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			padding: 4rem;
			background: #FFF8EF;
			border-radius: 30px;
			justify-content: center;
			align-items: center;

			@media screen and (max-width: 700px) {
				padding: 2rem;
			}

			a > button {
				font-family: "Avenir", sans-serif;
				font-size: 1.25rem;
				padding: 0.5rem 1rem;
				background: #fff8ef;
				border: 4px solid #fb9400;
				box-sizing: border-box;
				border-radius: 50px;
			}
		}

		.grocery-shop-cont {
			padding: 4rem 0rem;
			display: grid;
			gap: 2rem;

			.heading {
				font-family: "Fontastique", cursive;
				font-size: 1.75rem;
				color: #000000;
			}

			.search-container {
				display: flex;
				justify-content: space-between;

				@media screen and (max-width: 700px) {
					flex-direction: column;
					gap: 1rem;
				}

				input {
					padding: 0.5rem;
					border-radius: 0;
					border: 2px solid #A9A9A9;
					font-family: "Roboto", sans-serif;
					font-size: 1.25rem;
					color: #000000;
				}

				button {
					font-family: "Avenir", sans-serif;
					font-size: 1.25rem;
					padding: 0.5rem 1rem;
					background: #FFF8EF;
					border: 4px solid #FB9400;
					box-sizing: border-box;
					border-radius: 50px;
				}
			}

			.map-cont {
				padding: 4rem 0 0 0;
				display: flex;
				justify-content: center;

				img {
					display: block;
					width: 60%;
				}
			}
		}
	}
}